.container {
  margin: 50px 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  /* width: 80%; */
}

.Card {
  margin: 0 2% !important;
  background-color: rgba(255, 255, 255, 0.1);
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.7);
  background: rgba(00, 0, 255, 0.2);
}

#infected {
  /* background-color: rgba(00, 0, 255, 0.2) !important; */
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.7);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.7);
}

@media (max-width: 770px) {
  .Card {
    margin: 2% 0 !important;
  }
}
